:root {
  --ds-font-family: 'SourceSansPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --ds-color-white: #ffffff;
  --ds-color-black: #111111;
  --ds-color-primary: #8200ff;
  --ds-color-secondary: #30006b;
  --ds-color-gray: #c5c7c9;
  --ds-color-dark: #5c5f61;
  --ds-color-soft: #f8f8f8;
  --ds-color-star: #e6910a;
  --ds-color-heart: #f00500;

  --ds-breakpoint-xs: 0;
  --ds-breakpoint-sm: 576px;
  --ds-breakpoint-md: 768px;
  --ds-breakpoint-lg: 992px;
  --ds-breakpoint-xl: 1200px;
  --ds-breakpoint-xxl: 1400px;
}
